# Environment files
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Python cache files
__pycache__

# Python virtual environments
.venv
.snow

# Jupyter Notebook files
*.ipynb

# SQLite database files
*.sqlite

# Devcontainer files
.devcontainer/

# Developer Docs
Docs.md

# others
test.json
test.py
snowflake/conversation_chain.py
